In [1]:
import pandas as pd
from utils.analysis import *

Requirement already satisfied: lingua-language-detector==1.1.0 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.2 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector==1.1.0) (1.24.2)
Requirement already satisfied: regex<2023.0.0,>=2022.8.17 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector==1.1.0) (2022.10.31)

[nltk_data] Downloading package punkt to /Users/new/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/new/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/new/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/new/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [2]:
file_loc = "Data/twitter_data.csv"
twitter_data = pd.read_csv(file_loc)
twitter_data.head()

,Tweets,Eng_source,Summary
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!"""
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.
2,Ah Ah.. Wait o.. No be you Tinubu dey insult s...,Wait... Is it not you Tinubu has been insultin...,Hasn't Tinubu been insulting you since Monday?...
3,"Ah, o ti o! I don forget say I suppose call my...",Oh no! I forgot that I was supposed to call my...,Oh no! I forgot to call my mother today.
4,An ode to my lover Oh! I’ve met women before D...,An ode to my lover Oh! I've met women before D...,An ode to my lover! I've met women before Dúpé...

In [3]:
twitter_data.shape

(100, 3)

In [4]:
# tokenize sentence
twitter_data['tokenized_tweet_sent']= twitter_data['Tweets'].apply(lambda x: tokenize_sent(x))
twitter_data['tokenized_eng_sent']= twitter_data['Eng_source'].apply(lambda x: tokenize_sent(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]"
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ..."

In [5]:
# Create a new variable containing the number of sentences in the summary, tweet, and english text
twitter_data['sum_sent_count'] = twitter_data['Summary'].apply(lambda x : count_sents(x))
twitter_data['tweet_sent_count'] = twitter_data['Tweets'].apply(lambda x : count_sents(x))
twitter_data['eng_sent_count'] = twitter_data['Eng_source'].apply(lambda x : count_sents(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2

In [6]:
# Create a new variable containing the number of characters in the summary, tweet, and english text
twitter_data['sum_char_count'] = twitter_data['Summary'].apply(lambda x : count_chars(x))
twitter_data['tweet_char_count'] = twitter_data['Tweets'].apply(lambda x : count_chars(x))
twitter_data['eng_char_count'] = twitter_data['Eng_source'].apply(lambda x : count_chars(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,37
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,43

In [7]:
# Create a new variable containing the number of punctuations in the summary, tweet, and english text
twitter_data['sum_punc_count'] = twitter_data['Summary'].apply(lambda x : count_punc(x))
twitter_data['tweet_punc_count'] = twitter_data['Tweets'].apply(lambda x : count_punc(x))
twitter_data['eng_punc_count'] = twitter_data['Eng_source'].apply(lambda x : count_punc(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,37,3,1,3
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,43,1,2,4

In [8]:
# storing the puntuation free text
twitter_data['tweet_without_punc'] = twitter_data['Tweets'].apply(lambda x: remove_punctuation(x))
twitter_data['eng_without_punc'] = twitter_data['Eng_source'].apply(lambda x: remove_punctuation(x))
twitter_data['sum_without_punc'] = twitter_data['Summary'].apply(lambda x: remove_punctuation(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,37,3,1,3,“buju na my guy but je kin monetize e o baby”,Buju na my guy but let me monetize you baby,Buju na my guy but let me monetize you baby
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,43,1,2,4,Aanu ara mi n semi I’ve twisted my ankle,Feeling sorry for myself I’ve twisted my ankle,I twisted my ankle

In [9]:
# tokenize text
twitter_data['tokenized_tweet']= twitter_data['tweet_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data['tokenized_eng']= twitter_data['eng_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,37,3,1,3,“buju na my guy but je kin monetize e o baby”,Buju na my guy but let me monetize you baby,Buju na my guy but let me monetize you baby,"[“, buju, na, my, guy, but, je, kin, monetize,...","[buju, na, my, guy, but, let, me, monetize, yo..."
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,43,1,2,4,Aanu ara mi n semi I’ve twisted my ankle,Feeling sorry for myself I’ve twisted my ankle,I twisted my ankle,"[aanu, ara, mi, n, semi, i, ’, ve, twisted, my...","[feeling, sorry, for, myself, i, ’, ve, twiste..."

In [10]:
# Create a new variable containing the number of words in the summary, tweet, and english text
twitter_data['sum_word_count'] = twitter_data['sum_without_punc'].apply(lambda x : count_words(x))
twitter_data['tweet_word_count'] = twitter_data['tweet_without_punc'].apply(lambda x : count_words(x))
twitter_data['eng_word_count'] = twitter_data['eng_without_punc'].apply(lambda x : count_words(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,...,1,3,“buju na my guy but je kin monetize e o baby”,Buju na my guy but let me monetize you baby,Buju na my guy but let me monetize you baby,"[“, buju, na, my, guy, but, je, kin, monetize,...","[buju, na, my, guy, but, let, me, monetize, yo...",10,13,10
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,...,2,4,Aanu ara mi n semi I’ve twisted my ankle,Feeling sorry for myself I’ve twisted my ankle,I twisted my ankle,"[aanu, ara, mi, n, semi, i, ’, ve, twisted, my...","[feeling, sorry, for, myself, i, ’, ve, twiste...",4,11,10

In [11]:
# Create a new variable containing the density of words in the summary, tweet, and english text
twitter_data['sum_word_density'] = word_density(twitter_data, 'sum_word_count', 'sum_char_count')
twitter_data['tweet_word_density'] = word_density(twitter_data, 'tweet_word_count', 'tweet_char_count')
twitter_data['eng_word_density'] = word_density(twitter_data, 'eng_word_count', 'eng_char_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count,sum_word_density,tweet_word_density,eng_word_density
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,...,Buju na my guy but let me monetize you baby,Buju na my guy but let me monetize you baby,"[“, buju, na, my, guy, but, je, kin, monetize,...","[buju, na, my, guy, but, let, me, monetize, yo...",10,13,10,0.263158,0.351351,0.263158
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,...,Feeling sorry for myself I’ve twisted my ankle,I twisted my ankle,"[aanu, ara, mi, n, semi, i, ’, ve, twisted, my...","[feeling, sorry, for, myself, i, ’, ve, twiste...",4,11,10,0.235294,0.314286,0.227273

In [12]:
# Create a new variable containing the density of sentences in the summary, tweet, and english text
twitter_data['sum_sent_density'] = sent_density(twitter_data, 'sum_sent_count', 'sum_word_count')
twitter_data['tweet_sent_density'] = sent_density(twitter_data, 'tweet_sent_count', 'tweet_word_count')
twitter_data['eng_sent_density'] = sent_density(twitter_data, 'eng_sent_count', 'eng_word_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count,sum_word_density,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density
0,“buju na my guy but je kin monetize e o baby!”,"""Buju na my guy but let me monetize you baby!""","""Buju na my guy but let me monetize you baby!""",[“buju na my guy but je kin monetize e o baby!”],"[""buju na my guy but let me monetize you baby!""]",1,1,1,37,36,...,"[buju, na, my, guy, but, let, me, monetize, yo...",10,13,10,0.263158,0.351351,0.263158,0.090909,0.071429,0.090909
1,Aanu ara mi n semi! I’ve twisted my ankle.,Feeling sorry for.. myself! I’ve twisted my an...,I twisted my ankle.,"[aanu ara mi n semi!, i’ve twisted my ankle.]","[feeling sorry for.. myself!, i’ve twisted my ...",1,2,2,16,34,...,"[feeling, sorry, for, myself, i, ’, ve, twiste...",4,11,10,0.235294,0.314286,0.227273,0.200000,0.166667,0.181818

In [13]:
# get the sum of values of numeric columns
data_sum(twitter_data)

Sum of values in numerical columns
----------------------------------
sum_sent_count         128.000000
tweet_sent_count       195.000000
eng_sent_count         194.000000
sum_char_count        5569.000000
tweet_char_count      8112.000000
eng_char_count        8845.000000
sum_punc_count         227.000000
tweet_punc_count       376.000000
eng_punc_count         417.000000
sum_word_count        1283.000000
tweet_word_count      2071.000000
eng_word_count        2051.000000
sum_word_density        22.855251
tweet_word_density      26.135824
eng_word_density        23.095553
sum_sent_density        10.453667
tweet_sent_density      10.366935
eng_sent_density        10.398464
dtype: float64

In [14]:
# get the average of values of numeric columns
data_average(twitter_data)

Average of values in numerical columns
--------------------------------------
sum_sent_count         1.280000
tweet_sent_count       1.950000
eng_sent_count         1.940000
sum_char_count        55.690000
tweet_char_count      81.120000
eng_char_count        88.450000
sum_punc_count         2.270000
tweet_punc_count       3.760000
eng_punc_count         4.170000
sum_word_count        12.830000
tweet_word_count      20.710000
eng_word_count        20.510000
sum_word_density       0.228553
tweet_word_density     0.261358
eng_word_density       0.230956
sum_sent_density       0.104537
tweet_sent_density     0.103669
eng_sent_density       0.103985
dtype: float64

In [15]:
twitter_data.describe()

,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count,sum_word_count,tweet_word_count,eng_word_count,sum_word_density,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.280000,1.950000,1.940000,55.690000,81.120000,88.450000,2.270000,3.760000,4.170000,12.830000,20.710000,20.510000,0.228553,0.261358,0.230956,0.104537,0.103669,0.103985
std,0.533333,1.018763,1.032991,26.632818,53.527918,56.747247,1.270131,2.763836,2.839316,6.103576,12.779636,13.196644,0.033179,0.042917,0.029194,0.050396,0.056574,0.056914
min,1.000000,1.000000,1.000000,10.000000,10.000000,11.000000,0.000000,0.000000,0.000000,2.000000,3.000000,3.000000,0.125000,0.098361,0.125000,0.033333,0.034483,0.033898
25%,1.000000,1.000000,1.000000,36.000000,37.750000,43.000000,1.000000,2.000000,2.000000,9.000000,11.750000,10.000000,0.207837,0.237977,0.213346,0.071429,0.068966,0.071429
50%,1.000000,2.000000,2.000000,50.500000,69.000000,73.500000,2.000000,3.000000,4.000000,11.000000,18.000000,16.500000,0.227273,0.258621,0.230769,0.090909,0.094494,0.090909
75%,1.000000,2.000000,2.250000,65.250000,112.750000,125.500000,3.000000,5.000000,5.000000,15.000000,28.000000,26.250000,0.250000,0.288863,0.250000,0.125000,0.125000,0.119485
max,3.000000,5.000000,5.000000,132.000000,255.000000,285.000000,7.000000,15.000000,16.000000,35.000000,64.000000,66.000000,0.312500,0.394737,0.307692,0.333333,0.500000,0.500000

In [16]:
# language count in tweets using lingua library
lang_count(twitter_data, 'tokenized_tweet')

Number of Yoruba words:  647
Number of English words:  1424
Percentage of Yoruba words: 31.24%
Percentage of English words: 68.76%

In [17]:
# language count in tweets by comparing with english text
lang_count_comp(twitter_data, 'tokenized_tweet', 'tokenized_eng')

Number of Yoruba words:  779
Number of Eng words:  1292
Percentage of Yoruba words: 37.61%
Percentage of English words: 62.39%

In [18]:
# get unique words
get_unique_words(twitter_data, 'tokenized_tweet', 'Code-switched tweets')
get_unique_words(twitter_data, 'tokenized_eng', 'English tweets')

Number of unique words in Code-switched tweets = 867
Number of unique words in English tweets = 774

In [19]:
# get unique sentences
get_unique_sents(twitter_data, 'tokenized_tweet_sent', 'Code-switched tweets')
get_unique_sents(twitter_data, 'tokenized_eng_sent', 'English tweets')

Number of unique sentences in Code-switched tweets = 194
Number of unique sentences in English tweets = 193