In [1]:
import pandas as pd
from utils.analysis import *

Requirement already satisfied: lingua-language-detector==1.1.0 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: regex<2023.0.0,>=2022.8.17 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector==1.1.0) (2022.10.31)
Requirement already satisfied: numpy<2.0.0,>=1.23.2 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector==1.1.0) (1.24.2)

[nltk_data] Downloading package punkt to /Users/new/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/new/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/new/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/new/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [2]:
file_loc = "Data/twitter_data.csv"
twitter_data = pd.read_csv(file_loc)
twitter_data.head()

,Tweets,Eng_source,Summary
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.
2,So what am I getting for Valentine's bayii?,So what am I getting for Valentine's now?,"So, what am I getting for Valentine's now?"
3,THIS IS WHY EVERYONE WHO JAPA IS NOW A CONTENT...,THIS IS WHY EVERYONE WHO RELOCATES IS NOW A CO...,Reasons why those who relocate becomes content...
4,Oga mi sir!!,My boss sir!!,My boss sir!

In [3]:
twitter_data.shape

(66, 3)

In [4]:
# tokenize sentence
twitter_data['tokenized_tweet_sent']= twitter_data['Tweets'].apply(lambda x: tokenize_sent(x))
twitter_data['tokenized_eng_sent']= twitter_data['Eng_source'].apply(lambda x: tokenize_sent(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady]

In [5]:
# Create a new variable containing the number of sentences in the summary, tweet, and english text
twitter_data['sum_sent_count'] = twitter_data['Summary'].apply(lambda x : count_sents(x))
twitter_data['tweet_sent_count'] = twitter_data['Tweets'].apply(lambda x : count_sents(x))
twitter_data['eng_sent_count'] = twitter_data['Eng_source'].apply(lambda x : count_sents(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1

In [6]:
# Create a new variable containing the number of characters in the summary, tweet, and english text
twitter_data['sum_char_count'] = twitter_data['Summary'].apply(lambda x : count_chars(x))
twitter_data['tweet_char_count'] = twitter_data['Tweets'].apply(lambda x : count_chars(x))
twitter_data['eng_char_count'] = twitter_data['Eng_source'].apply(lambda x : count_chars(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,41
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,34

In [7]:
# Create a new variable containing the number of punctuations in the summary, tweet, and english text
twitter_data['sum_punc_count'] = twitter_data['Summary'].apply(lambda x : count_punc(x))
twitter_data['tweet_punc_count'] = twitter_data['Tweets'].apply(lambda x : count_punc(x))
twitter_data['eng_punc_count'] = twitter_data['Eng_source'].apply(lambda x : count_punc(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,41,1,0,0
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,34,2,0,0

In [8]:
# storing the puntuation free text
twitter_data['tweet_without_punc'] = twitter_data['Tweets'].apply(lambda x: remove_punctuation(x))
twitter_data['eng_without_punc'] = twitter_data['Eng_source'].apply(lambda x: remove_punctuation(x))
twitter_data['sum_without_punc'] = twitter_data['Summary'].apply(lambda x: remove_punctuation(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,41,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,34,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see this insane person is unstable

In [9]:
# tokenize text
twitter_data['tokenized_tweet']= twitter_data['tweet_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data['tokenized_eng']= twitter_data['eng_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,eng_char_count,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,41,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p..."
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,34,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see this insane person is unstable,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s..."

In [10]:
# Create a new variable containing the number of words in the summary, tweet, and english text
twitter_data['sum_word_count'] = twitter_data['sum_without_punc'].apply(lambda x : count_words(x))
twitter_data['tweet_word_count'] = twitter_data['tweet_without_punc'].apply(lambda x : count_words(x))
twitter_data['eng_word_count'] = twitter_data['eng_without_punc'].apply(lambda x : count_words(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,...,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p...",6,7,8
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,...,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see this insane person is unstable,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s...",7,7,9

In [11]:
# Create a new variable containing the density of words in the summary, tweet, and english text
twitter_data['sum_word_density'] = word_density(twitter_data, 'sum_word_count', 'sum_char_count')
twitter_data['tweet_word_density'] = word_density(twitter_data, 'tweet_word_count', 'tweet_char_count')
twitter_data['eng_word_density'] = word_density(twitter_data, 'eng_word_count', 'eng_char_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,eng_without_punc,sum_without_punc,tokenized_tweet,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count,sum_word_density,tweet_word_density,eng_word_density
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,...,You will still end up doing wildlife photography,You will continue to photograph wildlife,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p...",6,7,8,0.162162,0.200000,0.190476
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,...,Come and see this mad person is not steady,Come see this insane person is unstable,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s...",7,7,9,0.194444,0.318182,0.257143

In [12]:
# Create a new variable containing the density of sentences in the summary, tweet, and english text
twitter_data['sum_sent_density'] = sent_density(twitter_data, 'sum_sent_count', 'sum_word_count')
twitter_data['tweet_sent_density'] = sent_density(twitter_data, 'tweet_sent_count', 'tweet_word_count')
twitter_data['eng_sent_density'] = sent_density(twitter_data, 'eng_sent_count', 'eng_word_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,tokenized_tweet_sent,tokenized_eng_sent,sum_sent_count,tweet_sent_count,eng_sent_count,sum_char_count,tweet_char_count,...,tokenized_eng,sum_word_count,tweet_word_count,eng_word_count,sum_word_density,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,[wildlife photography lo shi ma pada shey],[you will still end up doing wildlife photogra...,1,1,1,36,34,...,"[you, will, still, end, up, doing, wildlife, p...",6,7,8,0.162162,0.200000,0.190476,0.142857,0.125,0.111111
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,[e wa wo wayray yii o steady],[come and see this mad person is not steady],1,1,1,35,21,...,"[come, and, see, this, mad, person, is, not, s...",7,7,9,0.194444,0.318182,0.257143,0.125000,0.125,0.100000

In [13]:
# get the sum of values of numeric columns
data_sum(twitter_data)

Sum of values in numerical columns
----------------------------------
sum_sent_count          82.000000
tweet_sent_count       109.000000
eng_sent_count         107.000000
sum_char_count        3473.000000
tweet_char_count      4081.000000
eng_char_count        4459.000000
sum_punc_count         162.000000
tweet_punc_count       197.000000
eng_punc_count         223.000000
sum_word_count         779.000000
tweet_word_count      1058.000000
eng_word_count        1026.000000
sum_word_density        14.788948
tweet_word_density      17.523064
eng_word_density        15.191018
sum_sent_density         7.251395
tweet_sent_density       7.157761
eng_sent_density         7.184380
dtype: float64

In [14]:
# get the average of values of numeric columns
data_average(twitter_data)

Average of values in numerical columns
--------------------------------------
sum_sent_count         1.242424
tweet_sent_count       1.651515
eng_sent_count         1.621212
sum_char_count        52.621212
tweet_char_count      61.833333
eng_char_count        67.560606
sum_punc_count         2.454545
tweet_punc_count       2.984848
eng_punc_count         3.378788
sum_word_count        11.803030
tweet_word_count      16.030303
eng_word_count        15.545455
sum_word_density       0.224075
tweet_word_density     0.265501
eng_word_density       0.230167
sum_sent_density       0.109870
tweet_sent_density     0.108451
eng_sent_density       0.108854
dtype: float64

In [15]:
# language count in tweets using lingua library
lang_count(twitter_data, 'tokenized_tweet')

Number of Yoruba words:  352
Number of English words:  706
Percentage of Yoruba words: 33.27%
Percentage of English words: 66.73%

In [16]:
# language count in tweets by comparing with english text
lang_count_comp(twitter_data, 'tokenized_tweet', 'tokenized_eng')

Number of Yoruba words:  479
Number of Eng words:  579
Percentage of Yoruba words: 45.27%
Percentage of English words: 54.73%

In [17]:
# get unique words
get_unique_words(twitter_data, 'tokenized_tweet', 'Code-switched tweets')
get_unique_words(twitter_data, 'tokenized_eng', 'English tweets')

Number of unique words in Code-switched tweets = 511
Number of unique words in English tweets = 468

In [18]:
# get unique sentences
get_unique_sents(twitter_data, 'tokenized_tweet_sent', 'Code-switched tweets')
get_unique_sents(twitter_data, 'tokenized_eng_sent', 'English tweets')

Number of unique sentences in Code-switched tweets = 109
Number of unique sentences in English tweets = 107