In [1]:
import pandas as pd
from utils.preprocess import *

Requirement already satisfied: lingua-language-detector in /Users/new/opt/anaconda3/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0.0,>=1.24.1 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector) (1.24.2)
Requirement already satisfied: regex<2023.0.0,>=2022.10.31 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from lingua-language-detector) (2022.10.31)

[nltk_data] Downloading package punkt to /Users/new/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/new/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/new/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/new/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/new/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [2]:
twitter_data = pd.read_csv('Data/twitter_data.csv')
twitter_data.head()

,Tweets,Eng_source,Summary
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.
2,So what am I getting for Valentine’s bayii?,So what am I getting for Valentine's now?,"So, what am I getting for Valentine's now?"
3,THIS IS WHY EVERYONE WHO JAPA IS NOW A CONTENT...,THIS IS WHY EVERYONE WHO RELOCATES IS NOW A CO...,Reasons why those who relocate becomes content...
4,Oga mi sir!!,My boss sir!!,My boss sir!

In [3]:
twitter_data.shape

(36, 3)

In [4]:
# Create a new variable containing the number of sentences in the summary, tweet, and english text
twitter_data['sum_sent_count'] = twitter_data['Summary'].apply(lambda x : count_sents(x))
twitter_data['tweet_sent_count'] = twitter_data['Tweets'].apply(lambda x : count_sents(x))
twitter_data['eng_sent_count'] = twitter_data['Eng_source'].apply(lambda x : count_sents(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1

In [5]:
# Create a new variable containing the number of words in the summary, tweet, and english text
twitter_data['sum_word_count'] = twitter_data['Summary'].apply(lambda x : count_words(x))
twitter_data['tweet_word_count'] = twitter_data['Tweets'].apply(lambda x : count_words(x))
twitter_data['eng_word_count'] = twitter_data['Eng_source'].apply(lambda x : count_words(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9

In [6]:
# Create a new variable containing the number of characters in the summary, tweet, and english text
twitter_data['sum_char_count'] = twitter_data['Summary'].apply(lambda x : count_chars(x))
twitter_data['tweet_char_count'] = twitter_data['Tweets'].apply(lambda x : count_chars(x))
twitter_data['eng_char_count'] = twitter_data['Eng_source'].apply(lambda x : count_chars(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,tweet_char_count,eng_char_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,34,41
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,21,34

In [7]:
# Create a new variable containing the density of words in the summary, tweet, and english text
twitter_data['sum_word_density'] = word_density(twitter_data, 'sum_word_count', 'sum_char_count')
twitter_data['tweet_word_density'] = word_density(twitter_data, 'tweet_word_count', 'tweet_char_count')
twitter_data['eng_word_density'] = word_density(twitter_data, 'eng_word_count', 'eng_char_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,tweet_char_count,eng_char_count,sum_word_density,tweet_word_density,eng_word_density
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,34,41,0.189189,0.200000,0.190476
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,21,34,0.250000,0.318182,0.257143

In [8]:
# Create a new variable containing the density of sentences in the summary, tweet, and english text
twitter_data['sum_sent_density'] = sent_density(twitter_data, 'sum_sent_count', 'sum_word_count')
twitter_data['tweet_sent_density'] = sent_density(twitter_data, 'tweet_sent_count', 'tweet_word_count')
twitter_data['eng_sent_density'] = sent_density(twitter_data, 'eng_sent_count', 'eng_word_count')

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,tweet_char_count,eng_char_count,sum_word_density,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,34,41,0.189189,0.200000,0.190476,0.125,0.125,0.111111
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,21,34,0.250000,0.318182,0.257143,0.100,0.125,0.100000

In [9]:
# Create a new variable containing the number of punctuations in the summary, tweet, and english text
twitter_data['sum_punc_count'] = twitter_data['Summary'].apply(lambda x : count_punc(x))
twitter_data['tweet_punc_count'] = twitter_data['Tweets'].apply(lambda x : count_punc(x))
twitter_data['eng_punc_count'] = twitter_data['Eng_source'].apply(lambda x : count_punc(x))

twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,eng_char_count,sum_word_density,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density,sum_punc_count,tweet_punc_count,eng_punc_count
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,41,0.189189,0.200000,0.190476,0.125,0.125,0.111111,1,0,0
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,34,0.250000,0.318182,0.257143,0.100,0.125,0.100000,2,0,0

In [10]:
# get the sum of values of numeric columns
data_sum(twitter_data)

Sum of values in numerical columns
----------------------------------
sum_sent_count          45.000000
tweet_sent_count        68.000000
eng_sent_count          68.000000
sum_word_count         539.000000
tweet_word_count       712.000000
eng_word_count         722.000000
sum_char_count        2114.000000
tweet_char_count      2580.000000
eng_char_count        2799.000000
sum_word_density         9.274234
tweet_word_density      10.177949
eng_word_density         9.299442
sum_sent_density         3.350312
tweet_sent_density       3.870790
eng_sent_density         3.795681
sum_punc_count          87.000000
tweet_punc_count        97.000000
eng_punc_count         105.000000
dtype: float64

In [11]:
# get the average of values of numeric columns
data_average(twitter_data)

Average of values in numerical columns
--------------------------------------
sum_sent_count         1.250000
tweet_sent_count       1.888889
eng_sent_count         1.888889
sum_word_count        14.972222
tweet_word_count      19.777778
eng_word_count        20.055556
sum_char_count        58.722222
tweet_char_count      71.666667
eng_char_count        77.750000
sum_word_density       0.257618
tweet_word_density     0.282721
eng_word_density       0.258318
sum_sent_density       0.093064
tweet_sent_density     0.107522
eng_sent_density       0.105436
sum_punc_count         2.416667
tweet_punc_count       2.694444
eng_punc_count         2.916667
dtype: float64

In [12]:
# storing the puntuation free text
twitter_data['tweet_without_punc'] = twitter_data['Tweets'].apply(lambda x: remove_punctuation(x))
twitter_data['eng_without_punc'] = twitter_data['Eng_source'].apply(lambda x: remove_punctuation(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,tweet_word_density,eng_word_density,sum_sent_density,tweet_sent_density,eng_sent_density,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,0.200000,0.190476,0.125,0.125,0.111111,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,0.318182,0.257143,0.100,0.125,0.100000,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady

In [13]:
# tokenize text
twitter_data['tokenized_tweet']= twitter_data['tweet_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data['tokenized_eng']= twitter_data['eng_without_punc'].apply(lambda x: tokenize_text(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,sum_sent_density,tweet_sent_density,eng_sent_density,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,tokenized_tweet,tokenized_eng
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,0.125,0.125,0.111111,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p..."
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,0.100,0.125,0.100000,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s..."

In [14]:
# stemming the english text
twitter_data['stemmed_eng'] = twitter_data['tokenized_eng'].apply(lambda x: stemming(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,tweet_sent_density,eng_sent_density,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,tokenized_tweet,tokenized_eng,stemmed_eng
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,0.125,0.111111,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p...","[you, will, still, end, up, do, wildlif, photo..."
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,0.125,0.100000,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s...","[come, and, see, thi, mad, person, is, not, st..."

In [15]:
# lemmatizing the english text
twitter_data['lemmatized_eng'] = twitter_data['tokenized_eng'].apply(lambda x:lemmatizer(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,eng_sent_density,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,tokenized_tweet,tokenized_eng,stemmed_eng,lemmatized_eng
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,0.111111,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p...","[you, will, still, end, up, do, wildlif, photo...","[you, will, still, end, up, doing, wildlife, p..."
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,0.100000,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s...","[come, and, see, thi, mad, person, is, not, st...","[come, and, see, this, mad, person, is, not, s..."

In [16]:
# entity recognition
twitter_data['NER_eng']= twitter_data['stemmed_eng'].apply(lambda x: NER(x))
twitter_data.head(2)

,Tweets,Eng_source,Summary,sum_sent_count,tweet_sent_count,eng_sent_count,sum_word_count,tweet_word_count,eng_word_count,sum_char_count,...,sum_punc_count,tweet_punc_count,eng_punc_count,tweet_without_punc,eng_without_punc,tokenized_tweet,tokenized_eng,stemmed_eng,lemmatized_eng,NER_eng
0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,You will continue to photograph wildlife.,1,1,1,7,7,8,36,...,1,0,0,Wildlife photography lo shi ma pada shey,You will still end up doing wildlife photography,"[wildlife, photography, lo, shi, ma, pada, shey]","[you, will, still, end, up, doing, wildlife, p...","[you, will, still, end, up, do, wildlif, photo...","[you, will, still, end, up, doing, wildlife, p...","[(you, PRP), (will, MD), (still, RB), (end, VB..."
1,E wa wo Wayray yii o steady,Come and see this mad person is not steady,Come see; this insane person is unstable.,1,1,1,9,7,9,35,...,2,0,0,E wa wo Wayray yii o steady,Come and see this mad person is not steady,"[e, wa, wo, wayray, yii, o, steady]","[come, and, see, this, mad, person, is, not, s...","[come, and, see, thi, mad, person, is, not, st...","[come, and, see, this, mad, person, is, not, s...","[(come, NN), (and, CC), (see, VB), (thi, JJ), ..."

In [17]:
# language count in tweets using lingua library
lang_count(twitter_data, 'tokenized_tweet')

Number of Yoruba words:  196
Number of English words:  432
Percentage of Yoruba words: 31.21%
Percentage of English words: 68.79%

In [18]:
# language count in tweets by comparing with english text
lang_count_comp(twitter_data, 'tokenized_tweet', 'tokenized_eng')

Number of Yoruba words:  243
Number of Eng words:  385
Percentage of Yoruba words: 38.69%
Percentage of English words: 61.31%