### Install and import the needed libraries

In [1]:
!pip install tweepy
!pip install emoji

Requirement already satisfied: tweepy in /Users/new/opt/anaconda3/lib/python3.9/site-packages (4.12.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from tweepy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/new/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: emoji in /Users/new/opt/anaconda3/lib/python3.9/site-packages (2.2.0)

In [2]:
# import libraries
import tweepy
import pandas as pd
import re
import emoji

### Access the twitter api using your twitter developer account credentials

In [3]:
# connect twitter api
def twitter_auth():
  api_key = 'XXXXXXXXXXXXXXXX'
  api_key_secret = 'XXXXXXXXXXXXXXXX'

  access_token = 'XXXXXXXXXXXXXXXX'
  access_token_secret = 'XXXXXXXXXXXXXXXX'

  # authenticate
  auth = tweepy.OAuthHandler(api_key, api_key_secret)
  auth.set_access_token(access_token, access_token_secret)

  api = tweepy.API(auth)
  return api

### Get tweets from the twitter accounts and save the in a dataframe

In [4]:
# get tweets from twitter
def get_tweets(api):
  users = ['XXXXXXXXX', 'XXXXXXXX', 'XXXXXXXX']
  limit=100 #tweets limit

  # Create columns for the DataFrame
  columns = ['Tweet']
  data = []

  # Search using pagination
  for user in users:
    tweets = tweepy.Cursor(api.user_timeline, screen_name=user, tweet_mode='extended', exclude_replies=True, include_rts=False).items(limit)

    # Iterate through the results and append them to the list
    for tweet in tweets:
        data.append([tweet.full_text])

  # Create a dataframe with the results
  tweet_data = pd.DataFrame(data, columns=columns)
  return tweet_data

### Clean the tweets

In [5]:
# clean tweets
def tweet_cleaner(tweet):
    tweet = re.sub("@[A-Za-z0-9]+","",tweet) # remove @ sign
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet) # remove http links
    tweet = " ".join(tweet.split())
    tweet = ''.join(c for c in tweet if c not in emoji.distinct_emoji_list(c)) # remove emojis
    tweet = tweet.replace("#", "").replace("_", " ") # remove hashtag sign but keep the text
    return tweet

### Call the functions to do all of the above and save your data as a csv file

In [6]:
api = twitter_auth()

tweet_data = get_tweets(api)
tweet_data.head()

                                               Tweet
0  50 Cent has 24 TV shows across 10 different ne...
1  Itâ€™s officially an epidemic ðŸ¤£ðŸ¤£ https://t.co/SM...
2  Thereâ€™s not a player in the world that I disli...
3  See counter attack!! Martinelli!!! We keep fig...
4          GOALLLLLLLLL.. WINNER!!!!!! WHAT A GOAL!!

In [7]:
tweet_data['Tweet'] = tweet_data['Tweet'].map(lambda x: tweet_cleaner(x))
tweet_data.to_csv('Data/twitter_data.csv') # save twitter data as a csv file
tweet_data.head()

                                               Tweet
0  50 Cent has 24 TV shows across 10 different ne...
1                       Itâ€™s officially an epidemic
2  Thereâ€™s not a player in the world that I disli...
3  See counter attack!! Martinelli!!! We keep fig...
4          GOALLLLLLLLL.. WINNER!!!!!! WHAT A GOAL!!